[submodule "libraries/Adafruit-RGB-LCD-Shield-Library"]
	path = libraries/Adafruit-RGB-LCD-Shield-Library
	url = git://github.com/adafruit/Adafruit-RGB-LCD-Shield-Library.git
[submodule "libraries/Adafruit-PWM-Servo-Driver-Library"]
	path = libraries/Adafruit-PWM-Servo-Driver-Library
	url = git://github.com/adafruit/Adafruit-PWM-Servo-Driver-Library.git
