[submodule "libraries/Adafruit_RGBLCDShield"]
	path = libraries/Adafruit_RGBLCDShield
	url = git://github.com/adafruit/Adafruit-RGB-LCD-Shield-Library.git
[submodule "libraries/Adafruit_PWMServoDriver"]
	path = libraries/Adafruit_PWMServoDriver
	url = git://github.com/adafruit/Adafruit-PWM-Servo-Driver-Library.git
[submodule "libraries/external/yewess"]
	path = libraries/external/yewess
	url = https://github.com/Yewess/cxx.git
[submodule "Button"]
	path = libraries/external/Button
	url = https://github.com/virgildisgr4ce/Button.git
[submodule "arduino-cmake"]
	path = arduino-cmake
	url = git://github.com/queezythegreat/arduino-cmake.git
[submodule "SerialUI"]
	path = libraries/external/SerialUI
	url = https://github.com/psychogenic/SerialUI.git
[submodule "Rtc_Pcf8563"]
	path = libraries/external/Rtc_Pcf8563
	url = git@github.com:Yewess/Rtc_Pcf8563.git
[submodule "libraries/external/Eep"]
	path = libraries/external/Eep
	url = git@github.com:Yewess/Eep.git
